<div class="row">
  <section id="row1">
  </section>
</div>

<div class="row">
  <section id="row2">
  </section>
</div>

<div class="row">
  <section id="row3">
  </section>
</div>

<div class="row">
  <section id="row4">
  </section>
</div>
