@import "utilities/global";

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(http://themes.googleusercontent.com/static/fonts/montserrat/v4/zhcz-_WihjSQC0oHJ9TCYBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}

/* element display conversions */

.inline-block {
  display: inline-block;
}

/* images */

.circular {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border: 1px solid transparent;
  transition: opacity .5s;
  -webkit-transition: opacity .5s; /* For Safari 3.1 to 6.0 */
}

.circular:hover {
  opacity: .7;
}

.img-max {
  width: 100%;
  height: auto;
}

/* BACKGROUND IMAGES */

/* homepage */

#home-main {
  background: asset-url('landscapeSmall2.jpg') no-repeat;
}

#home-second {
  background: asset-url('group_pic.jpg') no-repeat fixed;
}

#usc-statue {
  background: asset-url('usc_statue.jpg') no-repeat;
  background-position: center center;
  background-size: auto 100%;
}

#ucb-statue {
  background: asset-url('ucb_statue.jpg') no-repeat;
  background-position: center center;
  background-size: auto 100%;
}

#uci-statue {
  background: asset-url('uci_statue.jpg') no-repeat;
  background-position: center center;
  background-size: auto 100%;
}

#ucla-statue {
  background: asset-url('ucla_statue.jpg') no-repeat;
  background-position: center center;
  background-size: auto 100%;
}

.img-bg {
  background-position: center bottom !important;
  background-size: cover !important;
}

.fig-link {
  margin: 0 0 50px 0; 
}

.separation-1 {
  height: 25px;
}

.separation-2 {
  height: 50px;
}

.separation-3 {
  height: 75px;
}

/* TRANSITIONS */

.fast-color-trans {
  transition: color 300ms;
  -webkit-transition: color 300ms; /* Safari */
}

.fast-height-trans {
  transition: height 300ms;
  -webkit-transition: height 300ms; /* Safari */
}
