// Place all the styles related to the Navbar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$grayMediumLight: #859ead;

// navbar container
#navbar {
  background-color: $grayMediumLight;
  height: 50px;
  width: 100%;

  color: white;

  a {
    text-decoration: none;
    color: white;

    :hover {
      background-color: $grayMediumLight;
    }
  }

  // first level menu
  #navbar-top {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;

    li {
      position: relative;
      display: inline;
      padding: 20px 100px 0px 100px;
    }

    a {
      display: inline-block;
      //margin: 20px 100px 0px 100px;
      padding-top: 20px;
      padding-bottom: 12px; //space between words and bottom border
    }

    // 1st level list item
    li:hover {
      a.nav-link-1 {
	font-weight: bold;
	background-color: $grayMediumLight;
	border-bottom: 2px solid;
      }

      // 2nd level menu when mouse hovers over 1st level menu
      ul {
	left: 0;

	a {
	  text-decoration: none;
	  background: none;
	}

	a:hover {
	  color: #495159;
	  background-color: $grayMediumLight;
	}

//	li:hover {
//	  cursor: pointer;
//
//	  a {
//	    color: #495159;
//	  }
//	}
      }
    }

    // 2nd level menu
    ul {
      position:absolute;
      //top:100%; //Uncommenting this makes the dropdowns work in IE7 but looks a little worse in all other browsers. Your call. */
      left: -9999px;
      margin:0;
      padding:0;
      text-align:left;

      li {
        display: block;
	background-color: $grayMediumLight;
	opacity: 0.8;
	border-radius: 5px;
	border: 1px solid;
	margin: 0 0 0 100px;
	padding: 0 45px 0 45px;
      }

      a {
	color: white;
	white-space: nowrap;
	display: block;
      }
    }
  }
}

section {
  overflow: auto;
}

.row {
  section#row1 {
    min-height: 1000px;
    height: 200px;
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    max-height: 100%;
    position: relative;
    z-index: -1;

    //background: url(landscapeSmall.jpg) no-repeat;
    background-size: 100% auto;
  }

}
